{% extends 'layout.html' %}
{% block content %}
    <h1>PLOS Calculation Example</h1>
    <p>Put description here</p>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="float-left" src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/correlo_no%20reg.png?raw=true" alt="Correlation Plot" 
                 width="400" height="400">
          </div>
          <div class="col">
            <p>Desription</p>
          </div>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="float-right" src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/pairplot.png?raw=true" alt="Pairplot" 
                 width="400" height="400">
          </div>
          <div class="col">
            <p>Description</p>
          </div>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/histogram_subplot.png?raw=true" alt="Histogram Plot" 
                 width="400" height="400">
          </div>
          <div class="col">
            <p>Description</p>
          </div>
        </div>
    </div>
 
    <!--
    <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/correlo_no%20reg.png?raw=true" alt="Correlation Plot" 
               width="400" height="400">
          </div>
          <div class="col">
            <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/pairplot.png?raw=true" alt="Pairplot" 
               width="400" height="400">
          </div>
        </div>
    </div>
    -->


<!--
    <div class="row">
        <div class="col-4">
          <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/correlo_no%20reg.png?raw=true" alt="Correlation Plot" 
               width="500" height="500">
        </div>
        <div class="column">
          <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/pairplot.png?raw=true" alt="Pairplot" 
               width="500" height="500">
        </div>
        <div class="column">
          <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/histogram_subplot.png?raw=true" alt="Histogram Plot" 
               width="500" height="500">
        </div>
    </div>
-->
{% endblock content %}

