{% extends 'layout.html' %}
{% block content %}
    <h1>PLOS Calculation Example</h1>
    <p>Put description here</p>
    <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/correlo_no%20reg.png?raw=true">
    <p></p>
    <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/pairplot.png?raw=true">
    <p></p>
    <img src="https://github.com/fetoffah-beep/se4g_GROUP-2/blob/master/Static_analysis/histogram_subplot.png?raw=true">
    <p></p>
{% endblock content %}

